{
  "aws_access_key":              "XXXXXXXXXXXXXXXXX",
  "aws_secret_key":              "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "aws_region":                  "us-east-1",
  "aws_dynamodb_terraform_lock": "raab70-minecraft-terraform-dynamodb",
  "aws_s3_terraform_state":      "raab70-minecraft-terraform-state",
  "aws_s3_world_backup":         "raab70-minecraft-world-backup",
  "aws_s3_server_dashboard":     "raab70-minecraft-dashboard",
  "discord_client_token":        "XXXXXXXXXXXXXXXXX.XXXX.XXXXXXXXXXXXXXXXX",
  "discord_channel":             "123456789123456789",
  "ssh_minecraft_public_key":     "~/.ssh/id_minecraft.pub"
}
